html { 
    background: url(images/port_bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*,
* ::before,
* ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'lato';
    font-size: 10px;
    box-sizing: border-box;
}

a{    
    text-decoration: none;    
}
ul{    
    list-style: none;    
}
p{  
    font-size: 1.6rem;  
}

img{    
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 20rem 0;
}



/*header*/
header{
    width: 100%;
    height: 130px;
    position: sticky;
    top: -3.5vh;
    left: 0;
    z-index: 1;
    background-color: #202020;
    
}

.container{
    width: 100%;
    max-width: 90%;
    margin: -4vh auto;
    padding: 0 1.5rem;
    
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    
}

.nav-brand{
    width: 16.5rem;  
    margin-left: -1rem;
    margin-top: 4rem;
}

.menu-icons{
  padding-top: 5rem;

}


.menu-icons i{
    font-size: 3rem;
    color: white;
    cursor: pointer;

}

.close i{
color: white;

}

.nav-list{
    width: 19rem;
    height: 100vh;
    background-color: #202020;
    position: fixed;
    top: 0px;
    right: -20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}


.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    cursor: pointer;
}

.nav-item{
    margin: 1rem ;
    
}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;

}




.container-message{
    margin-top: -20rem;
    position: relative;
    text-align: center;
margin-top: -35rem;

}

.main-message{
    width: 100%;
    max-width: 100%;
    color: #202020;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



.main-message h1{
    font-size: 42px;
    margin-top: -20rem;
}

.main-message p{
    font-family: 'Gill Sans', Calibri;
    font-size: 24px;
    margin:  7rem 0;
    color: rgb(70, 70, 70);
}


.main-message ::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -21rem;
  width: 8%;
  height: 100rem;
  background: url("images/logo.png") center no-repeat;
  background-size: 75%;
  margin-left: 90vh;
  padding-top: 10vh;
  

}



/* =================================================        intro        ============================================*/
.container-row{
    display: flex;
    padding-right: 20rem;
    padding-left: 20rem;
    margin-top: -70rem;
  }
  
  .container-row .hero-image-edu{
    flex: 1.4;
    height: 30%;
    width: auto;
  }
  
  .container-row .A3L_Slogan {
    flex: 1;
  }

  .intro h1{
    font-size: 42px;
    text-align: right;
    padding-top: 6cm;
    color: #ca2423;
 
  }

  .intro p{
    padding-top: 5rem;
    font-family: 'Gill Sans', Calibri;
    font-size: 24px;
    text-align: right;
    color: #202020;
  }

  .A3L_Slogan ::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 100rem;
    background: url("images/border1.png") center no-repeat;
    background-size: 100%;
    margin-left: 8vh;
    margin-top: 10cm;
    padding-top: 120vh;

    
  
  }
  

  /* =================================================         education       ============================================*/
  
.hero-edu{
    margin-top: -30rem;
}
.container-message-edu{
    position: relative;
    text-align: left;
    margin-left: -10rem;
}



.main-message-edu{
    width: 70%;
    max-width: 70%;
    color: #202020;
    position: absolute;
    margin-left: 0rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.main-message-edu h1{
    font-size: 42px;
    margin-top: -5rem;
    margin-bottom: 05rem;
    color: #2e3192;
}

.main-message-edu p{
    font-family: 'Gill Sans', Calibri;
    font-size: 24px;
    margin:  1rem 0;
    color: #202020;
}

.main-message-edu ::before{
  content: "";
  position: absolute;
  left: -35rem;
  bottom: 7rem;
  width: 100%;
  height: 20rem;
  background: url("images/border2.png") center no-repeat;
  background-size: 40%;
  margin-left: -15vh;
  padding-top: 5vh;
  

}


/*=====================================================================           projects           ==============================================================*/

.blue-container{
    width: 100%;
    margin-top: -25rem;
    background: #120e1c;

}








.container-row-pro{
    display: flex;
    padding-right: 20rem;
    padding-left: 0rem;
    margin-top: 0rem;
  }
  
  .container-row-pro .hero-image-pro{
    flex: .7;
    height: 30%;
    width: auto;
  }
  
  .container-row-pro .A3L_Slogan_pro {
    flex: 1;
  }

  .blue-container h1{
    font-size: 42px;
    text-align: right;
    padding-top: 6cm;
    color: white;
    padding-right: 1rem;
 
  }

  .slogan_title_pro h1{
    color: #3dc680;
  }
  .blue-container p{
    font-family: 'lato';
    font-size: 24px;
    text-align: right;
    color: grey;
  }

  .slogan_title_pro::before{
    content: "";
    position: absolute;
    left: -35rem;
    bottom: -11rem;
    width: 80%;
    height: 20rem;
    background: url("images/border3.png") center no-repeat;
    background-size: 70%;
    margin-left: 76vh;
    padding-top: 5vh;
    
  
  }

/*=====================================================================           card          ==============================================================*/
  .column-card {
    text-transform: uppercase;
    font-size: 18px;
    color: grey;
    float: right;
    width: 28%;
    padding: 0 20px;
    outline: none;

  }
  .column-card:active, :focus { 
      outline: none;  
  }

  .column-card:hover .card{
    
    background-color: white;
  }
  .column-card:hover h1{
      color: #599e71;
  }
  .column-card:hover h2{
    color: #599e71;
  }
  .column-card:hover h3{
    color: #599e71;
  }

  .column-card h1{
      font-size: 22px;
      text-align: center;
      margin-top: -18rem;
      margin-right: -1.5rem;
  }
  .column-card h2{
    font-size: 22px;
    text-align: center;
    margin-top: 3.2rem;
    color: white;
  }
  .column-card h3{
    font-size: 22px;
    text-align: center;
    margin-top: 2.7rem;
    color: white;
  }

  .column-card imgg{
      width: max-content;
      
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row-card {
      margin: 0 -5px;
      margin-top: 10rem;
  }
  
  /* Clear floats after the columns */
  .row-card:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-color: white;
    height: 35rem;
  }


/*=====================================================================           contact          ==============================================================*/

.blue-container-three{
    width: 100%;
    margin-top: -25rem;
    background: #120e1c;
    display: flex;
    bottom: -15rem;

}






.container-message-cont .margin-lagbe{
  flex: 0.5;
  height: 100%;
  width: auto;
  align-items: left;
}

.container-message-cont .main-message-cont{
  flex: 1;
  
}

.blue-container-three h1{
  font-size: 42px;
  text-align: right;
  padding-top: 8cm;
  color: white;
  text-transform: uppercase;
  margin-left: 60rem;
}

.blue-container-three p{
  font-family: 'Gill Sans', Calibri;
  font-size: 24px;
  text-align: right;
  color: whitesmoke;
}





.margin-lagbe{
padding-left: 30rem;
}

.column-card-cont {
  float: left;
  width: 40%;
  outline: none;
}
.column-card-cont:active, :focus { 
    outline: none;  
}




.column-card-cont imgg{
    width: max-content;
    
}



/* Remove extra left and right margins, due to padding in columns */
.row-card-cont {
    margin-top: 0.5rem;
}


/* Clear floats after the columns */
.row-card-cont:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-cont {
padding-left: 2rem;
padding-right: 1rem;
  background-color: transparent;
  height: 32rem;
  margin: 0rem;

}
.janina{
  margin-top: -.5rem;

}



.main-message-cont::before{
  content: "";
  position: absolute;
  left: -2px;
  bottom: -40rem;
  width: 50%;
  height: 60rem;
  background: url("images/face.png") center no-repeat;
  background-size: 50%;
  margin-left: -10vh;
  padding-top: 5vh;
  

}